obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.swo
*.vsdmi
*.testsettings
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
/.vs
/packages
/Humpback.Tests/.vs
/Humpback.Smo/.vs
/Humpback/.vs
/MigrationBackup
